* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

/* body {
  margin: 0;
  padding: 0;
  background-color: #242730;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
.container {
  max-width: 500px;
  height: 820px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 40px;
  justify-content: space-around;
  background-image: url(../img/X\ -\ 11.png);
  background-position: 0 0;
  background-size: contain;
}

.logo {
  width: 100%;
  display: flex;
  margin-right: auto;
  text-decoration: none;
  width: 272px;
  height: 113px;
}

.names {
  margin-top: 95px;
}

.name {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
}

.hr {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #afaeae;
}

.name2 {
  margin-top: 30px;
}

.tel {
  margin-top: 175px;
}

.img--tel {
  display: flex;
  margin-bottom: 10px;
}

.tel1 {
  margin-left: 17px;
}

.tel2 {
  margin-left: 35px;
  margin-top: 8px;
}

.tell {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.img-tel {
  margin-top: 28px;
  display: flex;
  align-items: start;
}

.email {
  margin-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration-line: underline;
}

.adress {
  line-height: 22px;
  text-decoration-line: underline;
}
.tell-icon {
  animation: btn-anim 2s linear infinite;
}
.map {
  animation: btn-anim-map 2s linear infinite;
}

@keyframes btn-anim {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(20deg);
  }

  80% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes btn-anim-map {
  0% {
    transform: scale(0.5);
  }

  20% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.5);
  }
}
